<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <h1><center>which coachella artist should i listen to?</h1>
</div>
</nav>

<div class="container">
  <center><%= button_to "Spin", artist_path, :class => "btn btn-default", :method => :get %>
  <!-- <center><button type="button" class="btn btn-default">spin</button> -->
</div>
