// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record-image {
  height:45%;
  width:45%;
}

.record-image:hover {
  height: 47%;
  width: 47%;
}

.spin {
  -webkit-animation: spin 4s infinite linear alternate;
  -moz-animation: spin 4s linear 0s infinite alternate;
  animation: spin 4s linear 0s infinite alternate;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
