<div class="footer navbar-fixed-bottom text-center" role="navigation">
  <p class="text-muted credit">
    created by <%= link_to "hsiao", "http://www.twitter.com/hsiao", :target => "_blank" %>
    <BR>lineup from coachella 2014
  </p>
</div>
